.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  color: blue;
  text-transform: uppercase;
  border: 1px solid blue;
  cursor: pointer;
  margin: 20px auto 0 auto;
}
